body{
    background-color: rgb(196, 255, 214);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.bacsReport{
    background-color: aqua;
    width: 50%;
}


.forLighting{
    background-color: blanchedalmond;
    width: 50%;
}

.coffeeRatio {
    background-color: rgb(180, 140, 81);
    width: 50%;
}

.fibSequence {
    background-color:rgb(167, 224, 207);
    width: 50%;
}

.passwordEntropy{
    background-color: rgb(236, 161, 74);
    width: 50%;

}

.timelapseCalcs{
    background-color: rgb(169, 92, 241);
    width: 50%;
    align-content: start;
}

.BMI{
    background-color: aquamarine;
    width: 50%;
    align-content: flex-start;
}