.bacsReport{
    background-color: aqua;
    width: 50%
}


.forLighting{
    background-color: blanchedalmond;
    width: 50%;
}

.coffeeRatio {
    background-color: rgb(180, 140, 81);
    width: 50%;
}

.fibSequence {
    background-color:rgb(167, 224, 207);
    width: 50%
}